body
        {
            background-color: gray;

        }
        #title
        {
            background-color: white;
          
        }
        #submit
        {
            background-color: darkgreen;
            height: auto;
            width: auto;
            padding:5px;
            color: white;
            border-style: none;
            border-radius: 3px;

           
            

           
        }
        h1{
            display: flex;
            justify-content: center;
        }
      #align{
        display:flex;
        justify-content: center;
        align-items:inherit;
      }
      