body
        {
            background-color: gray;

        }
        #title
        {
            background-color: white;
          
        }
        #submit
        {
            background-color: darkgreen;
            height: auto;
            width: 100px;
            padding:5px;
            color: white;
            border-style: none;
            border-radius: 3px;         
            

           
        }
        textarea{
            width:600px ;
        }
        h1{
            display: flex;
            justify-content: center;
        }
      #align{
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 25%;
      }
      