body
        {
            background-color: gray;

        }
        #title
        {
            background-color: white;
          
        }
        #submit
        {
            background-color: greenyellow;
            height: 20px;
            width: auto;
        }
        h1{
            display: flex;
            justify-content: center;
        }
        #text{
            margin:50%;
        }